.primary-pink {
    color: #fbd3e8;
}

.background-grey {
    background-color: #3F445A;
}

* {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */

.nav-bar {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: grey;
    border: 2px solid black;
    text-align: center;
}

.nav-list {
    display: inline-block;
    border-right: 2px solid black;
}

.current-nav-list {
    background-color: black;
}

.nav-link {
    color: #fbd3e8;
    text-align: center;
    padding: 30px;
}

.nav-link:hover {
    color: aliceblue;
    background-color: black;
}